<div>
  <div class="container">
    <h2>
      Pattern validation
      </h2>
      <form [formGroup]="requiredForm" novalidate>
      <div class="form-group">
         <label class="center-block">Email:
         <input class="form-control" formControlName="email">
         </label>
      </div>
      <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched" class="alert alert-danger">
          <div *ngIf="requiredForm.controls['email'].errors?.['required']">
         Email is required.
         </div>
      </div>
      </form>
      <p>Form value: {{ requiredForm.value | json }}</p>
      <p>Form status: {{ requiredForm.status | json }}</p>

  </div>
</div>