<!-- <ul *ngIf="courses$ | async as courses else noData">
  <li *ngFor="let course of courses">
      {{course.description}}
  </li> 
</ul>
<ng-template #noData>No Data Available</ng-template> -->

<!-- <div>

  <li *ngFor="let post of posts">
    <a href="{{post.path}}">
      <span  style="font-size: 20px;text-align: center;">{{post.title}}                 
      </span>
    </a>

  </li>

</div>

<div>
  <p *ngFor="let post of posts">{{post| json}}</p>
</div> -->

<button (click)="getPosts()">get posts</button>
<p *ngFor="let post of posts |async">{{post | json}}</p>

<button (click)="createPost()">Creat Post</button>

{{newPost |async| json}}

<!-- <button (click)="updatePost()">update Post</button>
{{newPost |async| json}} -->

